{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
        <body>
            
            <link rel="stylesheet" href="public/css/skins/flat.css" type="text/css">
            <link type="text/css" rel="stylesheet" href="public/css/webix.css">
            <script src="public/js/webix.js"></script>
            <script src="public/js/k.js"></script>
            <script src="public/js/data.js"></script>
            <script src="public/js/script2.js"></script>
            <script src="public/js/assessments/assessmentCall.js"></script>
            <script src="public/js/assessments/assessmentFunctions.js"></script>
            <script src="public/js/assessments/assessments.js"></script>
            <script src="public/js/people/peopleCall.js"></script>
            <script src="public/js/people/peopleFunctions.js"></script>
            <script src="public/js/people/people.js"></script>
            <script src="public/js/interviewers/interviewerCall.js"></script>
            <script src="public/js/interviewers/interviewer.js"></script>
        </body>
        
    </div>
  </div>
</div>

{{template "footer.html" .}}
